---
layout: default
cover: 'http://www.abisolutions.org.uk/website/images/ConferencesHR.jpg'
---

<main class="site-main" role="main">
  <div class="site-content inner-wide">
    <div class="cover hero">
      <div class="cover-bg" style="background-image: url('img/ZenMtKoyasan.JPG')"></div>
      <div class="cover-content home">
        <div class="inner">
          <div class="hero-wrap introduction-wrapper">
            <img class="main-profile-pic" src="img/ryanlouie.jpg" alt="Ryan Louie">
            <div class="bio">
              <h2 class="hero-title fade-in">Ryan Louie</h2>
              <p class="hero-text fade-in" style="margin: 0">rylouie@cs.stanford.edu</p>
              <p class="hero-text fade-in" style="margin: 0">Computer Science Department</p>
              <p class="hero-text fade-in" style="margin: 0">Stanford University</p>
            </div>
          </div>
          <nav style="display: flex; justify-content: space-between; align-items: center;" role="navigation">
            <div class="read-more">
              <a href="#news" class="button light">News</a>
            </div>
            <div class="read-more">
              <a href="#about" class="button light">About me</a>
            </div>
            <div class="read-more">
              <a href="#publications" class="button light">Publications</a>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="home inner">
      <section id="news">
        <h2>News</h2>
        <p style="font-weight: bold; font-style: italic;">
          I have started my postdoc at Stanford CS in Sept 2023, in the area of AI/NLP for Mental Health.
        </p>
        <p style="font-weight: bold; font-style: italic;">
          ✨ In late August 2023, I defended my PhD thesis! ✨ The thesis was titled "Human-AI Interface Layers: Enhancing Communication of Intent for AI-Assisted Creative Pursuits and Social Experiences" [<a href="/files/louie2023dissertation_humanAIinterfacelayers.pdf">PDF</a>] [<a href="https://youtu.be/2GvwjC9p668">Talk Recording</a>]
        </p>
        <p>
          I was also awarded a Google PhD Fellowship in Human Computer Interaction in 2022! Northwestern wrote a nice <a href="https://www.mccormick.northwestern.edu/computer-science/news-events/news/articles/2022/supporting-designers-in-expressing-human-experiences-to-ai-and-context-aware-technologies.html">article featuring me as a fellowship recipient</a>.
        </p>
      </section>

      <section id="about">
        <h2>About me</h2>
        <p>
          I am a Postdoctoral Researcher at Stanford University CS, where I collaborate with <a class="hero-text link" href="https://cs.stanford.edu/~diyiy/">Diyi Yang</a> and <a class="hero-text link" href="https://cs.stanford.edu/people/ebrun/">Emma Brunskill</a> to advance AIs potential to assist in Mental Health and Psychotherapy. Mental health providers--from trained therapists to volunteer peer supporters--remain crucial, and we hypothesize that AI-assisted training and practice can improve their efficacy, confidence, and growth. Human-AI collaboration and interfaces for effectively imbuing AIs with domain-specific and personal-knowledge of this area will be important.
        </p>
        <p>
          I received my PhD from Northwestern's <a href="https://tsb.northwestern.edu/">Technology and Social Behavior</a> program, where I worked closely with Prof. <a class="hero-text link" href="http://users.eecs.northwestern.edu/~hq/">Haoqi Zhang</a> and <a class="hero-text link" href="https://dgergle.soc.northwestern.edu/">Darren Gergle</a>. My research aimed to enhance people's communication of intent and goals when using AI systems to assist in personally-meaningful pursuits, such as creating music compositions and sharing meaningful social experiences at distance. To do this, I advanced Human-AI Interface Layers, a technology sitting on top of existing AIs that help people in communicating their intent and expectations to their AI assistants and collaborators.
        </p>
      </section>

      <h2 id="publications">Featured Publications</h2>
      <div class="featured-publications">
        {% assign sorted_publications = site.publications | sort: 'year' | reverse %}
        {% for pub in sorted_publications %}
          {% if pub.highlight %}
            <div class="publication">
              {% if pub.papericon %}
                <a href="{{ pub.pdf }}" target="_blank">
                  <img class="papericon" src="{{ pub.papericon }}" width="100" height="100" align="left">
                </a>
              {% endif %}
              <span class="ptitle">{{ pub.title }}</span>
              [<a href="{{ pub.pdf }}">PDF</a>]
              <br>
              <span class="authors">{% for author in pub.authors %}{{ author }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>.
              <br>
              <i>{% if pub.venue %}In {{pub.venue}}{% endif %}</i>.
            </div>
            <br>
            <br>
          {% endif %}
        {% endfor %}
      </div>
      <a href="{{ "/publications/" | relative_url }}" class="button">
        <i class="fas fa-chevron-circle-right"></i>
        Show All Publications
      </a>
      </section>
    </div>

    <nav class="pagination" role="navigation">
      <span class="page-number">youralien.github.io</span>
    </nav>

  </div><!-- .site-content -->
</main><!-- .site-main -->



